nav {
    display: flex;
    height: 100vh;
    flex-direction: flex-column;
    align-items: flex-end;
    margin-left: 2rem;
}

html {
    scroll-snap-type: y proximity;
}

.Title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
    font-size: 35px;
    border-left: 2px solid rgb(255, 255, 255);
    padding-left: 1rem;
}

.Description {
    color: #f1f5f9;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-left: 1rem;
    margin-bottom: 3rem;

}

.parallax {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    background-image: url('Imgs/roman-building-two.jpg');
    background-color: rgba(0, 0, 0, 1);
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

/* Bottom Half */

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100vh;
    scroll-snap-align: end;

}




#file-container {
    margin-bottom: 20px;
    padding: 100px;
}

/* Containers */
.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container .uploadcard {
    margin-top: 7rem;
    font-family: 'Inter', sans-serif;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 70rem;
    border-radius: 30px;
    -webkit-box-shadow: 0px 6px 19px 5px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 6px 19px 5px rgba(0, 0, 0, 0.52);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.Output-Text {
    display: flex;
    flex-direction: row;
}

.bottom-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 3rem;
    width: 110vh;
    gap: 20em;
}

p.section-head {
    font-variant: small-caps;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    line-height: 1.2em;
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 1em;
    border-left: 1px solid #EF6C00;
    padding-left: 24px;
    margin-left: -24px;
    color: #818181;
}

.Real-Output {
    display: flex;
}


#predictions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-left: -5rem;
}

.pred-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.cell {
    padding-left: 4rem;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-content: center;
}

/* Scrollbar */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f8f8f #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 17px;
    border: 3px solid #ffffff;
}